body {
  /*background: #b7d7fc;
  background-color: #f0f0f0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  width: 40%;
  overflow: hidden;
  font-family: "Helvetica", Arial, Serif;
  position: relative;*/
}

#canvas {
  zIndex = 100001;
  display = block;
};

#debug {
  zIndex = 100002;
  display = none;
}

canvas, video {
  position: absolute;
  top: 0px;
  left: 0px;
}

#div1 {
  width: 320px;
  height: 240px;
  margin: auto;
}
#div2 {
  text-align: center;
  margin:auto;
}

#div3 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.eye {
    width: 110px; /*required, but can be any value*/
    height: 150px; /*required, but can be any value*/
    background: #fff; /*recommended, but can any value*/
    border-radius: 50%; /*optional*/
    border: 7px solid rgba(0,0,0,1); /*optional*/
    float: left;
    cursor: none;
}

.iris {
    background: #000; /*recommended, but can any value*/
    width:25px; /*required, but can be any value*/
    height:25px; /*required, but can be any value*/
    border-radius: 50%; /*optional*/
    /*border: 4px solid #0ea;*/
}

#wrap {
    margin: 50px auto 0;
    width: 248px;
    height: 200px;
}

#info {
 color: #fff;

}
